<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Servers and Web Application Servers</title>
</head>
<body>

<div class="topnav">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- The form -->
    <div> search for breeder's rating, type id</div>
    <form class="example" action="/breeders/rating" method="get">
    <input type="text" placeholder="Search.." name="bid">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>
</div>


</body>
</html>